/* CSS Entry Point */

img {
  transition: opacity 5s;
}

.app {
  transition: all 5s;
  position: absolute;
  left: 0;
}

.hidden {
  opacity: 0;
}

.slid {
  left: calc(100% - 150px);
}

button {
  background: blue;
  color: white;
  padding: 10px;
  border: 1px solid white;
  transition: all 1s;
  &:hover {
    background: green;
    padding: 20px;
  }
}
